<h1>Cocktails</h1>

<tbody>
    <% @cocktails.each do |cocktail| %>
      <tr>
        <td><%= cocktail.name %></td>
        <td><%= link_to 'Show cocktail', cocktail %></td>
        <td><%= link_to 'Edit cocktail', edit_cocktail_path(cocktail) %></td>
      </tr>
    <% end %>
  </tbody>

<%= link_to 'New cocktail', new_cocktail_path %>
